body {
    margin: 0;
    padding: 0;
    background-color: #0f0f0f;
    font-family: "Arial", sans-serif;
    color: white;
}

#story-container {
    width: 100%;
    height: 100vh;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

#story-text {
    margin-top: 20vh;
    font-size: 28px;
    padding: 20px;
}

#choices {
    margin-bottom: 50px;
}

button {
    padding: 15px 25px;
    font-size: 18px;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    background-color: blue;
    color: white;
    transition: 0.3s;
}

button:hover {
    background-color: blue;
}

select {
    padding: 12px;
    font-size: 18px;
    margin-right: 10px;
    border-radius: 8px;
}
