/*  --root--  */
:root{
    font-family: Montserrat;

    --white: #ffffff;
    --black: #000000;
    --green: #006466;
    --dark-green: #0b525b;
    --darker-green: #1b3a4b;
    --dark-blue: #272640;
    --purple: #4d194d;

    --background-gradient : linear-gradient(to bottom, rgba(27, 58, 75, 0.9), rgba(39, 38, 64, 0.9), rgba(77, 25, 77, 0.9));
    --background-gradient2 : linear-gradient(to bottom, rgba(77, 25, 77, 1), rgba(39, 38, 64, 1), rgba(27, 58, 75, 1));
    --background-gradient3 : linear-gradient(to bottom, rgba(27, 58, 75, 1), rgba(39, 38, 64, 1), rgba(77, 25, 77, 1));

    color: var(--white);
}

body{margin: 0px; overflow-x: hidden;}
.subtitle{
    text-align: center;
    padding-top: 4%;
    font-size: 2.5rem;
    font-weight: 700;
}

/*  ----------  */
/*  --header--  */
/*  ----------  */
._header{
    background-color: var(--dark-blue);
    width: 100%;
}
._header>div{
    display: flex;
    justify-content: center;
    padding-top: 2%;
}
._header>div>img{
    width: 3vw;
}
._header>h3{
    margin-top: 0%;
    display: block;
    text-align: center;
}
._header>ul{
    margin: 0;
    list-style: none;
    display: flex;
    justify-content: center;
}
._header>ul>li{
    justify-content: center;
    padding-left: 5%;
    padding-right: 5%;
}
._header>ul>li>a{
    display: block;
    text-decoration: none;
    color: var(--white);
    padding-bottom: 15%;
}

/*  -----------  */
/*  --accueil--  */
/*  -----------  */
#accueil>div{
    background-image: 
    var(--background-gradient);

    background-size: cover;
    background-position: center;
    width: 100vw; height: 45vw;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    position: absolute;
}
#accueil>div>#logo{
    justify-content: center;
    width: 18vw;
}
#accueil>div>div{
    text-align: center;
    display: block;
    justify-content: space-evenly;
    filter: opacity(1);
    height: 14vw;
    align-items: center;
    justify-content: center;
}
#accueil>div>div>h1{
    padding: 7%;
}
#accueil>#cemetery{
    position: relative;
    z-index: -1;
    width: 100vw; height: auto;
    filter: opacity(0.8);
    filter: grayscale(80%);
}

/*  ------------  */
/*  --services--  */
/*  ------------  */
#services{
    margin-top: -18%;
    background-image: var(--background-gradient2);
}
#services>div{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
#services>div>div{
    width: 30%;
    text-align: center;
    padding: 0% 1% 1% 1%; /* top right bottom left */
}
#services>div>div>.title-services{
    font-weight: 700;
}
#services>div>div>.tagline{
    font-weight: 300;
    padding: 5%;
}
#services>div>div>.services-icon{
    width: 8vw;
}
#services>div>div>.description{
    font-weight: 300;
    width: 95%;
    margin-left: 2.5%;
}

/*  ----------  */
/*  --tarifs--  */
/*  ----------  */
#tarifs{
    margin-top: -0.1%;
    padding-top: 10%;
    background-image: var(--background-gradient3);
    display: flex;
    align-items: center;
    flex-direction: column;
}
#tarifs>div{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    width: 100%;
}
#tarifs>div>div{
    text-align: center;
}
#tarifs>div>div>.name{
    font-weight: 600;
}
#tarifs>div>div>.price{
    font-weight: 750;
    font-size: 2.5rem;
    margin: 0%;
}
#tarifs>div>div>.duration{
    margin-top: 0%;
}
#tarifs>img{
    margin-top: 15%;
    width: 16vw;
    margin-bottom: 25%;
}

/*  ------------  */
/*  --contacts--  */
/*  ------------  */
#contacts{
    background-image: var(--background-gradient2);
    padding-bottom: 25%;
}
#contacts>h2{
    margin-top: -0.1%;
}

#contacts>div{
    display: flex;
    justify-content: space-evenly;
    margin-top: 5%;
}
#contacts>div>img{
    width: 8vw;
}

/*  ----------  */
/*  --footer--  */
/*  ----------  */
footer>div>img{
    width: 5vw !important;
}
footer>h3{
    font-size: 1rem;
    font-weight: 400;
    padding: 1% 0% 1% 0%;
}
footer>ul{
    padding-bottom: 1%;
}