:root{
    --darkerGrey : #0b132b;
    --darkGrey : #1c2541;
    --yellow : #d4b52f;
    --green: #509d77;
    --pink : #d97ab5;
    --blue : #45a0ec;
    --purple : #9e87cb;
    --red : #d66f75;
    --grey : #83a1bb;
    --white : #ffffff;
    color: white;
    font-family: 'Ubuntu', 'Roboto';
}
*{
    margin: 0%;
}

body {
    background-color: var(--darkerGrey);
}

::-webkit-scrollbar{
    width: 0px;
}

a {
    text-decoration: none;
    color: var(--white);
}

header>div>h1{
    font-size: clamp(0.1em, 4vw, 2.5em);
    text-align: center;
    padding-top: 1%;
    padding-bottom: 2%;
}
header>#nav{
    display: flex;
    justify-content: space-evenly;
    padding-bottom: 2%;
    list-style: none;
    font-family: 'Roboto';
    font-weight: 400;
}

main>#background{
    position: absolute;
    width: 100%;
    z-index: -1;
}
main>#text>h2, main>#text>h3{
    text-align: center;
    padding: 5% 0;
    font-size: 2rem;
    font-weight: 400;
}
main>#text>h2{
    font-size: 2.5rem;
    font-weight: 700;
    color: var(--white);
    text-decoration: none;
}
main>#text>h3{
    font-family: 'Roboto';
    font-weight: 400;
}
#team_a_la_une{
    background-color: var(--darkerGrey);
    z-index: 1;
    width: 100%;
    height: auto;
    padding-bottom: 2%;
}
#team_a_la_une>h2{
    padding-top: 1%;
    text-decoration: underline;
    color: var(--yellow);
    font-weight: 900;
    font-size: 1.5rem;
    text-align: center;
    text-decoration-thickness: 2px;
    text-underline-offset: 10px; 
}
#team_a_la_une>#all{
    margin: 2% 2% 0% 2%;
    border: solid 2px var(--darkGrey);
    width: 90%;
    display: flex;
    padding: 3%;
}
#team_a_la_une>#all>#owl{
    width: 65%;
    margin-right: 10%;
}
#team_a_la_une>#all>#owl>img{
    width: 100%;
    margin: 0;
}
#team_a_la_une>#all>#sub-all{
    margin-left: 0%;
}
#team_a_la_une>#all>#sub-all>#sub-title{
    color: var(--yellow);
    font-weight: 700; font-size: 1.3rem;
}
#team_a_la_une>#all>#sub-all>#sub-title>p{
    color: var(--white);
    font-weight: 600; font-size: 0.9rem;
    margin: 2% 0;
}
#team_a_la_une>#all>#sub-all>#player{
    display: flex;
}
#team_a_la_une>#all>#sub-all>#player>.player{
    width: 50%;
}
#team_a_la_une>#all>#sub-all>#player>.player>img{
    width: 50%;
}
#team_a_la_une>#all>#sub-all>#player>.player>legend{
    margin-top: 1%; margin-left: 25%;
    font-size: 0.8rem;
    font-weight: 700;
    color: var(--pink);
}
h2{
    padding-top: 1%;
    text-decoration: underline;
    color: var(--pink);
    font-weight: 900;
    font-size: 1.5rem;
    text-align: center;                /* Meilleur site MDN de doc html css */
    text-decoration-thickness: 2px; /* https://developer.mozilla.org/en-US/docs/Web/CSS/Reference/Properties/text-decoration-thickness */
    text-underline-offset: 10px; /* https://developer.mozilla.org/en-US/docs/Web/CSS/Reference/Properties/text-underline-offset */
}
#player_a_la_une{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}
#player_a_la_une>div{
    margin-top: 3%;
    display: flex;
    flex-direction: row;
    justify-content: center;
}
#player_a_la_une>div>div{
    width: 25vw;
    padding: 0 4%;
    display: grid;
    place-items: center;
    font-family: 'Roboto';
}
#player_a_la_une>div>div>img{
    width: 100%;
}
#player_a_la_une>div>div>div>legend, #player_a_la_une>div>div>div>h4{
    text-align: center;
    color: var(--yellow);
    font-weight: 400;
}
#player_a_la_une>div>div>div>legend{
    padding: 12% 0;
    font-weight: 500;
    font-size: clamp(0.1rem, 2vw, 1.5rem);
    
    color: var(--pink);
}
#dernier_match{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 5% 0;
}
#dernier_match>h2{
    color: var(--blue);
}
.versus{
    color: var(--blue);
    font-size: clamp(0.1rem, 2vw, 1.8rem);
}
#dernier_match>h3{
    padding: 5% 0;
    color: var(--white);
}
#dernier_match>h5{
    color: var(--grey);
    font-size: clamp(0.01rem, 2vw, 0.8rem);
}
#dernier_match>div{
    margin-top: 5%;
    display: flex;
    justify-content: center;
    width: 80%;
    padding-bottom: 2%;
}
#dernier_match>div>#first_team{
    border: solid 2px var(--green);
    padding: 3%;
    width: 35%;
    display: flex;
    justify-content: center;
    margin-right: 2%;
}
#dernier_match>div>#second_team{
    margin-left: 2%;
    border: solid 2px var(--darkGrey);
    padding: 3%;
    width: 35%;
    display: flex;
    justify-content: center;
}
#dernier_match>div>#first_team>img, #dernier_match>div>#second_team>img{
    width: 50%;
}
#matchs{
    text-align: center;
    color: var(--blue);
    display: grid;
    place-items: center;
}
#matchs>h2{
    text-decoration: none;
    color: var(--blue);
    font-size: clamp(0.01rem, 4vw, 2.5rem);
    margin-bottom: 2%;
}
#matchs>.match{
    border: solid 1px rgba(131, 161, 187, 0.2);
    width: 80vw;
    display: grid;
    place-items: center;
}
#matchs>.match>h3{
    margin-top: 2%;
    font-size: clamp(0.01rem, 2vw, 2.5rem);
}
#matchs>.match>h5{
    color: var(--grey);
    font-size: clamp(0.01rem, 2vw, 0.8rem);
    margin: 5% 0;
}
#matchs>.match>.logo{
    display: flex;
    justify-content: center;
}
#matchs>.match>.logo>img{
    width: 28vw;
    padding: 2%;
}
#matchs>.match>.logo>.True{
    border: solid 2px var(--green);
    margin-left: 1%; margin-right: 1%;
}
#matchs>.match>.logo>.False{
    border: solid 2px rgba(131, 161, 187, 0.2);
    margin-left: 1%; margin-right: 1%;
}
#matchs>.match>.button_match{
    margin: 4% 0;
    padding: 0.5% 0;
    border: solid 1px var(--blue);
    border-radius: 8px;
    width: 40%;
}
#matchs>.match>.button_match>a{
    color: var(--blue);
    font-family: 'Roboto'; font-weight: 500;
}
.match_result{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.match_result>h5{
    color: var(--blue);
}
.match_result>.logo{
    display: flex;
    justify-content: center;
    margin: 5% 0;
}
.match_result>.logo>img{
    width: 28vw;
    padding: 0%;
    margin-left: 2%; margin-right: 2%;
}
.match_result>.logo>.True{
    border: solid 3px var(--green);
}
.performance>table{
    font-family: 'Roboto';
    font-weight: 600;
}
.performance>h2{
    color: var(--purple);
    text-decoration: none;
    font-size: 2rem;
    padding: 0;
    margin-bottom: 2%;
}
table{
    display: grid;
    place-items: center;
    margin-bottom: 5%;
}
tbody{
    width: 100%;
}
tr{
    border: solid 1px rgba(131, 161, 187, 0.2);
    width: 70%;
    display: flex;
    justify-content: center;
    margin-left: 15%;
}
td{
    padding: 1% 4%;
    width: 50%;
    text-align: center;
}
.pink{
    color: var(--pink);
}
.yellow{
    color: var(--yellow);
}
#teams{
    overflow: hidden;
}
#teams>h2{
    padding-top: 4%;
    color: var(--yellow);
    text-decoration: none;
    font-size: 2rem;
}
#teams>div{
    display: flex;
    flex-wrap: wrap;
    align-items: start;
    justify-content: start;
    justify-items: center;
    margin-left: 6.5%; margin-top: 5%; margin-bottom: 5%;
    width: 100%;
}
#teams>div>div{
    width: 25%;
    padding: 0 2%;
    margin: 0 0;
    display: flex;
    flex-direction: column;
    align-items: center;
}
#teams>div>div>img{
    width: 100%;
}
#teams>div>div>h3{
    color: var(--yellow);
    margin-top: 3%;
    font-size: 1.7rem;
}
#teams>div>div>h5{
    margin: 3% 0;
    font-family: 'Roboto';
    font-weight: 600;
}
#teams>div>div>h3, #teams>div>div>h5{
    text-align: center;
}
#teams>div>div>div{
    font-family: 'Roboto';
    font-weight: 600;
    border: solid 2px var(--yellow);
    border-radius: 8px; width: 70%;
    text-align: center;
    padding: 1% 3%;
    margin-bottom: 10%;
}
#teams>div>div>div>a{
    color: var(--yellow);
}
#h2_team{
    color: var(--pink);
    text-decoration: none;
    font-size: 2.5rem;
}
#team{
    display: flex;
    justify-content: center;
}
#team>div{
    width: 17%;
    margin: 4% 1.5%;
    display: flex;
    flex-direction: column;
    align-items: center;
}
#team>div>img{
    width: 100%;
}
#team>div>p{
    color: var(--pink);
    text-align: center;
    font-size: 1.2rem;
    margin: 5% 0;
}
#team>div>div{
    border: solid 2px var(--white);
    color: white;
    border-radius: 8px; width: auto;
    
    text-align: center;
    padding: 1% 5%;
    margin-bottom: 10%;
}
#team>div>div>a{
    font-family: 'Roboto';
    font-size: 0.9rem;

}
#h2_players{
    color: var(--pink);
    text-decoration: none;
    font-size: 2.5rem;
}
#players{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    margin-bottom: 8%;
}
#players>div{
    width: 25%;
    margin: 4% 1.5%;
    margin-bottom: 1%;
    display: flex;
    flex-direction: column;
    align-items: center;
}
#players>div>img{
    width: 100%;
}
#players>div>h4{
    color: var(--pink);
    margin-top: 4%;
    font-size: 1.9rem;
    font-weight: 800;
}
#players>div>p{
    color: var(--yellow);
    text-align: center;
    font-family: 'Roboto';
    font-size: 1.2rem;
    margin: 5% 0;
}
#players>div>div{
    border: solid 2px var(--pink);
    color: var(--pink);
    border-radius: 8px; width: auto;
    text-align: center;
    padding: 3% 5%;
    margin-bottom: 0%;
}
#players>div>div>a{
    font-family: 'Roboto';
    font-size: 0.9rem;
    color: var(--pink);
}
#player_section{
    display: flex;
    flex-direction: column;
    align-items: center;
}
#player_section>#joueur{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 4%;
}
#player_section>#joueur>h2{
    color: var(--pink);
    font-weight: 800;
    font-size: 2.5rem;
    text-decoration: none;
    margin-bottom: 2%;
}
#player_section>#joueur>img{
    width: 35%;
    margin-bottom: 6%;
}
#player_section>#joueur>h3{
    color: var(--blue);
    font-size: 1.8rem;
}
#player_section>#joueur>h2, #player_sectiob>#joueur>h3{
    text-align: center;
}
#player_section>#sa_team>h3{
    color: var(--yellow);
    font-size: 2rem;
    font-weight: 800;
    text-align: center;
    margin: 3% 0;
}
#player_section>#sa_team>div{
    display: flex;
    justify-content: center;
    margin-bottom: 5%;
}
#player_section>#sa_team>div>div{
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 0 2%;
    width: 25%;
}
#player_section>#sa_team>div>div>img{
    width: 100%;
}
#player_section>#sa_team>div>div>h4{
    color: var(--pink);
    text-align: center;
    font-size: 1.8rem;
    margin: 4% 0;
}
#player_section>#sa_team>div>div>div{
    border: solid 2px var(--white);
    color: white;
    border-radius: 8px; 
    border-width: 1px;
    width: 50%;
    height: 10%;
    text-align: center;
    padding: 1% 5%;
    margin-left: 20%;
    margin-bottom: 10%;
}
#player_section>#sa_team>div>div>div>a{
    font-family: 'Roboto';
    font-weight: 400;
    color: white;
    text-decoration: none;
    font-size: 1rem;
    text-align: center;
}





















#player_section>#table{
    width: 90%;
    font-family: 'Roboto';
    font-weight: 400;
}
#player_section>#table>table{
    display: flex;
    border: solid 1px rgba(131, 161, 187, 0.2);
    height: 20vw;
    align-items: start;
}
#player_section>#table>table>tbody>tr{
    width: 100%;
    margin: 0;
    border: none;
}
#player_section>#table>table>tbody>tr:first-child>td{
    border: solid 1px rgba(131, 161, 187, 0.2);
    border-right: none; border-left: none;
}
#player_section>#table>table>tbody>.stat>.team_adverse{
    color: var(--yellow);
}
#player_section>#table>table>tbody>.stat>.Oui{
    color: var(--green);
}
#player_section>#table>table>tbody>.stat>.Non{
    color: var(--red);
}
#player_section>#table>table>tr>td{
    text-align: center;
}
#erreur{
    text-align: center;
    font-size: 2.5rem;
    font-family: 'Roboto'; font-weight: 900;
    margin: 10%;
}