#ajouter{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 100%; height: 100vh;
    margin: 0;
    color: white;
}
#ajouter>.card{
    background-color: transparent;
    padding: 18px;
    border-radius: 12px;
    box-shadow: 0 6px 18px rgba(0,0,0,0.6);
    border: 1px solid rgba(255,255,255,0.03);
    width: 25%; height: 75%;
    box-shadow: 0 0 20px white;
}
#ajouter>#ajouter{
    background-color: transparent;
    padding: 18px;
    border-radius: 12px;
    box-shadow: 0 6px 18px rgba(0,0,0,0.6);
    border: 1px solid rgba(255,255,255,0.03);
    width: 25%; height: 40%;
    box-shadow: 0 0 20px white;
}
#ajouter>fieldset>h3{
    color: white;
    text-shadow: 0 0 10px black;
}
#ajouter>#h3-ajouter{
    margin-bottom: 5%;
}
#ajouter>fieldset>div{
    display: flex;
    justify-content: center;
}
#ajouter>fieldset>div>a{
    color: white;
    text-underline-offset: 4px;
}
#ajouter>fieldset>form{
    display: flex;
    flex-direction: column;
}
#ajouter>fieldset>form>div{
    display: flex;
    flex-direction: column;
    margin: 5% 0;
}
#ajouter>fieldset>#register>div{
    display: flex;
    flex-direction: column;
    margin: 4% 0;
}
#ajouter>fieldset>form>button{
    background-color: transparent;
    border-radius: 8px;
    border: solid 2px white;
    color: white;
    padding: 0;
    margin: 5% 17%;
    width: 65%;
    transition: all 0.2s linear;
}
#ajouter>fieldset>form>button:hover{
    transform: scale(1.1);
}
#ajouter>fieldset>form>div>label{
    color: white;
}
#ajouter>fieldset>form>div>input{
    margin-top: 1%;
    color: white;
    background-color: transparent;
    border: solid 2px white;
    border-radius: 8px;
}
#ajouter>fieldset>form>div>input:focus{
    filter: drop-shadow(0 0 8px white);
    color: white;
    outline: none;
}
#ajouter>fieldset>form>div>input:active{
    background-color: transparent;
}

#ajouter>.card>form>#nom-prenom{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
}
#ajouter>.card>form>#nom-prenom>label{
    margin-right: 23%;
}
#ajouter>.card>form>#nom-prenom>input{
    width: 40%;
}

#ajouter>.card>p{
    color: white;
}
#ajouter>.card>form>a{
    color: white;
    text-underline-offset: 4px;
    margin-top: 5%;
    text-align: center;
}
#ajouter>.card>form>div>#last{
    margin-bottom: 5%;
}

#ajouter>.card>form>div>.form-label{
    margin-bottom: 1%;
}
#ajouter>.card>form>div>select{
    color: white;
    background-color: transparent;
    border: solid 2px white;
    border-radius: 8px;
    padding: 1%;
}
#category{
    /* margin-bottom: 5%; */
}
#category>option{
    background-color: #191c21;
    border: none;
    color: white;
}





#ajouter>fieldset>form>.multi-select {
    position: relative;
    width: 100%;
    margin-bottom: 35%;
}
.trigger {
  width: 100%;
  padding: 10px;
  background: #191b21;
  color: white;
  font-weight: 700;
  border: 1px solid white;
  cursor: pointer;
  border-radius: 6px;
}

.dropdown {
    display: none;
    position: absolute;
    top: 110%;
    left: 0;
    width: 100%;
    background: #191b21;
    border: 1px solid white;
    border-radius: 6px;
    padding: 8px 0;
    z-index: 10;
    margin-bottom: 20%;
    max-height: 300%;
}

.dropdown label {
    display: flex;
    align-items: center;
    gap: 8px;
    padding: 8px 12px;
    color: white;
    cursor: pointer;
    transition: background 0.2s;
}

.dropdown label:hover {
    background: #ffffff35;
    color: #111;
}

.dropdown input[type="checkbox"] {
    accent-color: white;
}