#home{
    background: linear-gradient(135deg, #1a1a1a, #191e2b);
    width: 100%; height: 100vh;
    color: white;
}
#home>#argent{
    width: 100%; height: 40vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: transparent;
    border-bottom: 1px solid white;
}
#home>#argent>div{
    margin: 0;
    width: 100%; height: 100%;
    color: white;
    text-shadow: 0 0 10px white;
    display: flex;
    align-items: center;
    justify-content: center;
}
#home>#argent>div>h2{
    margin-top: 3%;
    text-align: center; font-weight: 600; font-size: 5rem;
}
#home>#argent>div>a{
    margin: 0 6%;
    padding-top: 0.2%;
    width: 10%; height: 20%;
    text-align: center;
    text-decoration: none;
    color: white; font-weight: 700;
    transition: all 0.2s ease;
    border-radius: 25px;
    padding: 1% 1%; font-size: 1.2rem;
    background-color: rgb(0, 144, 160);
}
#home>#argent>div>a:hover{
    transform: scale(1.1);
}
#home>#argent>div>a:active{
    transform: scale(0.8);
}
#home>#argent>#logout{
    color: white;
    font-weight: 800;
    text-underline-offset: 20%;
    margin-left: 90%;
}

#home>#tables{
    display: flex;
    justify-content: center;
}
#home>#tables>div{
    width: 100%;
    display: flex;
    justify-content: center;
}
#home>#tables>div>table{
    width: 100%;
    border-left: 1px solid white; border-right: 1px solid white;
    margin-top: 2%;
    text-align: center;
}
#home>#tables>div>table>tbody>tr>th{
    border-bottom: 1px dashed #ffffff40;
}
#home>#tables>div>table>tbody>tr{
    display: flex;
    justify-content: space-around;
}
#home>#tables>div>table>tbody>tr>th, td{
    width: 200%;
    font-size: 1rem;
    padding: 2% 0;
    display: flex;
    flex-direction: column;
    align-items: center;
}