#login{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%; height: 100vh;
    margin: 0;
    color: white;
}
#login>.card{
    background-color: transparent;
    padding: 18px;
    border-radius: 12px;
    box-shadow: 0 6px 18px rgba(0,0,0,0.6);
    border: 1px solid rgba(255,255,255,0.03);
    width: 25%; height: 50%;
    box-shadow: 0 0 20px white;
}
#login>fieldset>legend{
    color: white;
    text-shadow: 0 0 10px black;
}
#login>fieldset>div{
    display: flex;
    justify-content: center;
}
#login>fieldset>div>a{
    color: white;
    text-underline-offset: 4px;
}
#login>fieldset>form{
    display: flex;
    flex-direction: column;
}
#login>fieldset>form>div{
    display: flex;
    flex-direction: column;
    margin: 5% 0;
}
#login>fieldset>#register>div{
    display: flex;
    flex-direction: column;
    margin: 4% 0;
}
#login>fieldset>form>#last-input{
    margin-bottom: 20%;
}
#login>fieldset>form>button{
    background-color: transparent;
    border-radius: 8px;
    border: solid 2px white;
    color: white;
    margin: 5% 35%;
    width: 30%;
    transition: all 0.2s linear;
}
#login>fieldset>form>button:hover{
    transform: scale(1.1);
}
#login>fieldset>form>div>label{
    color: white;
}
#login>fieldset>form>div>input{
    margin-top: 1%;
    color: white;
    background-color: transparent;
    border: solid 2px white;
    border-radius: 8px;
}
#login>fieldset>form>div>input:focus{
    filter: drop-shadow(0 0 8px white);
    color: white;
    outline: none;
}
#login>fieldset>form>div>input:active{
    background-color: transparent;
}

#login>.card>form>#nom-prenom{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
}
#login>.card>form>#nom-prenom>label{
    margin-right: 23%;
}
#login>.card>form>#nom-prenom>input{
    width: 40%;
}

#login>.card>p{
    color: white;
}