{% extends '../layout.html.twig' %}
<section id="player_section">
    <div id="joueur">
        <h2><?= $data['name'] ?></h2>
        <img src="<?= $data['portrait_url'] ?>" alt="<?= $data['portrait_alt'] ?>">
        <h3>SES PERFORMANCES</h3>
    </div>
    <div id="table">
        <table>
            <tr>
                <td>TEAM ADVERSE</td>
                <td>POINTS</td>
                <td>ASSITS</td>
                <td>VICTOIRE ?</td>
            </tr>
            <?php
            foreach ($data["matchs"] as $match) {
                ?>
                <tr class="stat">
                    <td class="team_adverse"><?= $match['adverse'] ?></td>
                    <td><?= $match['points'] ?></td>
                    <td><?= $match['assists'] ?></td>
                    <td class='<?= $match['win'] ?>'><?= $match['win'] ?></td>
                </tr>
                <?php
            }
            ?>
        </table>
    </div>
    <div id="sa_team">
        <h3>SA TEAM</h3>
        <div>
            <?php
            foreach ($data['mates'] as $player) {
                if ($player['id'] != $data['id']) {
                    ?>
                    <div>
                        <img src="<?= $player['portrait_url'] ?>" alt="<?= $player['portrait_alt'] ?>">
                        <h4><?= $player['name'] ?></h4>
                        <div><a href="?route=player&id=<?= $player['id'] ?>">DÉCOUVREZ <?= $player['name'] ?></a></div>
                    </div>
                <?php }
            } ?>
        </div>
    </div>
</section>